.button{
    background: var(--black);
    color: var(--green);
    padding: 10px 16px 10px 16px;
    gap: 10px;
    border-radius: 12px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    cursor: pointer;
    text-wrap: nowrap;
}
